name: CI/CD Pipeline

on:
  push:

jobs:
  build:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    env:
      APP_NAME: englight-ai
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker registry
        uses: docker/login-action@v3
        with:
          registry: registry.corpdi.ru
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Build and Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          push: true
          tags: registry.corpdi.ru/${{ env.APP_NAME }}:${{ github.ref_name }}


  notify-result:
    name: Notify
    runs-on: ubuntu-latest
    needs:
      - build
    if: always() && startsWith(github.ref, 'refs/tags/v')
    steps:
      - name: Send Telegram Notification
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_CHAT_ID }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: |
            ${{ job.status == 'success' && '✅ Build was successful' || '❌ Build failed' }} for commit: ${{ github.sha }}.
            Build tag: ${{ github.ref_name }}
            Build status: ${{ job.status }}
            Committer: ${{ github.actor }}

            Commit: ${{ github.event.head_commit.message }}
            Branch: ${{ github.ref_name }}
